# Streamlit Core
streamlit
streamlit-webrtc

# Computer Vision & AI
opencv-python-headless
ultralytics
mediapipe

# Image Processing
pillow
numpy
av

# Data Handling
pandas

# Web & API
requests

# Environment
python-dotenv

# Date/Time
python-dateutil
